<div class="jumbotron">
     <div class="container">
       <h1 class="display-3">Bienvenue sur ma page création d'utilisateurs !</h1>
     </div>
   </div>

   <div class="container">
     <div class="row">
      <p><a href="<%= new_path %>" class="btn btn-primary my-2">créer un utilisateur</a></p>
       </div>
     </div>
     <center>
     Utilisateurs déjà créés :
     <hr>
     <p>
     <% User.all.each do |users| %>
       <p>
       <div>
         <p><strong><%= users.username %></strong></p>
         <p><%= users.email %></p>
         <p><%= users.bio %></p>
         <hr>
       </div>
       </p>
     <% end %>
     </p>
     </center>
